body, li:hover, #high:hover{
    background-image: url("../imgs/pattern_100_100.jpg");
    background-repeat: repeat;
}

header, section, article{
    margin:0;
    padding: 0;
}

#wrapper {
    margin-top: 20px;
    margin-left: 70px;
    border: 3px solid gray;
    border-radius: 10px;
    width: 1200px;
    height: 600px;
    background-image: url("../imgs/mice.png");
    background-size: 1200px 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 1.2em;   
    letter-spacing: 0.05em;
    text-align: center;
}

h1{
    margin: 0px;
    padding: 0px;
    color: rgb(219, 79, 72);
}

/*h2{
    margin: 0px 10px 0 0;
    padding: 0px;
    color: rgb(93, 59, 110)
}*/

ul{
    margin: 70px auto;
    padding: 0px;
   
    list-style: none;
}

li{
    margin: 30px auto;
    padding-top: 20px;
    width: 130px;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    background: rgba(38, 42, 54, .5);
    text-align: center;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}

a:hover{
    color: rgb(251, 212, 173);
}

#high{
    margin: 30px auto;
    padding: 10px;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgba(251, 212, 173, .9);
}

footer{
    margin-top: 50px;
    text-align: center;
	font-weight: bold;
    color: rgb(93, 59, 110);
}

h1, h2, a, footer{
    text-shadow: 1px 1px 0 #000;
}