body{
    background-image: url("../imgs/pattern_100_100.jpg");
    background-repeat: repeat;
}

#wrapper {
    border: 3px solid black;
    border-radius: 10px;
    width: 1200px;
    height: 600px;
    margin-top: 20px;
    margin-left: 70px;
    background-image: url("../imgs/mice.png");
    background-size: 1200px 600px;
    font-family: sans-serif;    
    
}
h1{
    margin: 0px;
    padding: 0px;
    margin-left: 400px;
    margin-top: 10px;
    color: blue;
}

h2{
    margin-left: 470px;
    margin-top: 0px;
    color: navy;
}

ul{
    margin: 0px;
    padding: 0px;
    margin-left: 530px;
    list-style: none;
}
li{
    border: 1px solid black;
    width: 130px;
    height: 45px;
    background: rgba(38, 42, 54, .9);
    border-radius: 10px;
    margin: 30px;
    padding-top: 20px;
   
    text-align: center;
}

li:hover{
    background-color: gray;
    color: black;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover{
    color: greenyellow;
}

#high{
    border: 1px solid black;
    border-radius: 8px;
    width: 100px;
    height: 50px;
    margin: 570px;
    padding: 10px;
    background-color: burlywood;
}
#footer{
    margin-top: 150px;
    margin-left: 500px;
	font-weight: bold;
}