// Buttons
.btn {
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 0 20px;
  margin: 10px;
  min-width: 200px;
  line-height: 50px;
  font-family: $impact;
  font-size: 22px;
  letter-spacing: 1px;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.btn-white {
  border-color: rgba(255,255,255,.6);
  background: #fff;
  color: rgba(255,255,255,.6);
  color: #000;
    @media #{$max1024} {
    color: #fff;
  }
  &:hover {
    @media #{$min1025} {
      color: #fff;
    }
  }
}
.btn-blue {
  border-color: #fff; // #066363;
  background: #1e2433; // #363c4f;
  color: #fff; // #066363;
  &:hover {
    @media #{$min1025} {
      border-color: #0bc0c0;
      color: #0bc0c0;
    }
  }
}

#mode-easy {
  @media #{$max1024} {
    background: #009a12;
  }
  &:hover {
    @media #{$min1025} {
      background: #009a12;
    }
  }
}
#mode-hard {
  @media #{$max1024} {
    background: #9a693c;
  }
  &:hover {
    @media #{$min1025} {
      background: #9a693c;
    }
  }
}
#mode-expert {
  @media #{$max1024} {
    background: #d12c13;
  }
  &:hover {
    @media #{$min1025} {
      background: #d12c13;
    }
  }
}
#game-start {
  background: $red;
  color: #fff;
  &:hover {
    @media #{$min1025} {
      background: #fff;
      color: #000;
    }
  }
}
