// Game Map
.game-content {
  text-align: center;
}

#forest {
  margin-left: 20px;
  border: 1px solid rgba(255,255,255,.2);
  /*width: 100%;*/
  /*height: 100%;*/
  background-color: rgba(60, 65, 80, .7);
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
}
