// Game Map
.game-content {
  position: relative;
  margin: 0 auto;
  max-width: 1366px;
  height: 100%;

  .back-btn {
    position: absolute;
    top: 545px;
    right: 20px;
  }
}

#forest {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  // margin-left: 20px;
  border: 1px solid rgba(255,255,255,.2);
  background-color: rgba(60, 65, 80, .7);
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
}
#cheese {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

#timer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 100%;
}

.game-stats {
  position: absolute;
  top: 280px;
  right: 20px;
  min-width: 250px;
  height: auto;
}
.stat-row {
  margin: 0;
  overflow: hidden;
  .txt,
  .quantity {
    float: left;
  }
  .txt {
    width: 55%;
    color: rgba(255,255,255,.3);
    font-family: $impact;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .quantity {
    padding-left: 10px;
    width: 45%;
    line-height: 0.8;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
  }
}
