// Intro Screen
.intro-screen {
  text-align: center;
  h1 {
    color: rgba(255,255,255,.65);
    font-size: 8vw;
  }
  .btn {
    border: none;
    border-radius: 0;
    line-height: initial;
  }
}


#start-game {
  &:hover {
    @media #{$min1025} {
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
  }
}

.hercules-img {
  width: auto;
  height: 40vw;
  max-height: 60vh;
}
.git-link {
  a {
    color: rgba(255,255,255,.45);
    font-size: 3vw;
    &:hover {
      @media #{$min1025} {
        color: $yellow;
      }
    }
  }
}
